/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body, h1, h2, h3, p, ul{
  padding: 0px;
  margin: 0px !important;
}

*{
  box-sizing: border-box !important;
}

body{
  font-family: 'Russo One', sans-serif !important;
  color: #252525 !important;
}


/* MENU */

.menu{
  background-color: #252525;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu img{
  max-width: 40%;
  height: 38px;
}

@media (max-width: 739px){
  #logo{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
  }
  .intro{
    height: calc(100vh - 116px) !important;
  }
  .pages{
    margin-top: 30px !important;
  }
  .ebtn{
    padding-bottom: 10px !important;
  }
}

/* MAIN */

.intro{
  background: url("../img/carroBg.png") no-repeat center center;
  background-size: cover;
  color: #f4f3ef;
  padding: 150px 0;
  text-align: center;
  height: calc(100vh - 58px);
}



.intro p{
  font-style: italic;
  font-size: 1.125em;
}

.intro h1{
  font-size: 3em;
  text-transform: uppercase;
}

.intro h1::after{
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

/* BOTOES */

.pages{
  margin-top: 95px;
}

.ebtn{
  border-width: 2px !important;
  border-color: #f4f3ef !important;
  color: #f4f3ef !important;
}

.ebtn:hover{
  background: #252525 !important;
}


/*FLEXBOX*/

.flex{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 739px){
  .flex{
    text-align: center;
  }
}