/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body, h1, h2, h3, p, ul{
  padding: 0px;
  margin: 0px !important;
}

*{
  box-sizing: border-box !important;
}

body{
  font-family: 'Russo One', sans-serif !important;
  color: #252525 !important;
  background: url("../img/carroBg.png") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 64px);
  background-attachment: fixed;
}


/* MENU */

.menu{
  border-top: 3px solid rgba(0, 0, 0, .4);
  border-bottom: 3px solid rgba(0, 0, 0, .4);
  background-color: #252525;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu img{
  max-width: 40%;
  height: 38px;
}

@media (max-width: 739px){
  .intro h1{
    font-size: 2.5em !important;
  }
  #logo{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
  }
  .intro{
    height: calc(100vh - 127px) !important;
    padding-top: 30px !important;
  }
  .pages{
    margin-top: 30px !important;
  }
  .ebtn{
    padding-bottom: 10px !important;
  }
  .model-item img{
    max-width: 80% !important;
  }
  .grid-4{
    margin-bottom: 10px !important;
  }
  #model{
    padding-top: 100px !important;
  }
  .servicos{
    padding-top: 75px !important;
  }
  .obj{
    padding-top: 35px;
  }
}

/* MAIN */


.intro{
  color: #f4f3ef;
  padding: 30vh 0;
  text-align: center;
  height: calc(100vh - 64px);
}


.intro p{
  font-style: italic;
  font-size: 1.125em;
}

.intro h1{
  font-size: 3em;
  text-transform: uppercase;
}

.intro h1::after{
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

/* BOTOES */

.pages{
  margin-top: 95px;
}

.ebtn{
  border-width: 2px !important;
  border-color: #f4f3ef !important;
  color: #f4f3ef !important;
}

.ebtn:hover{
  background: #252525 !important;
}


/*FLEXBOX*/

.flex{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 739px){
  .flex{
    text-align: center;
  }
}

/*SERVIÇOS*/

.servicos{
  margin-top: -75px ;
}

.servicos-item{
  margin-top: 85px;
}

/* MODELOS */

.model-item img{
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 35px;
}

#model{
  margin-top: -100px;
}

#logo{
  cursor: pointer;
}

/* FOOTER */

.footer{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,37,37,1) 60%);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 60px; 
}

@media (max-width: 739px){
  .footer{
    padding-bottom: 50px;
  }
}

/*OBJETIVO*/

.obj{
  margin-top: -30px;
}

.holder{
  display: flex; 
  margin: 30vh auto; 
  padding-left: 40vw; 
  color: #e6e6e6; 
  background: #1a1a1a; 
  padding-bottom: 16px; 
  padding-top: 16px
}
